html,
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.bar {
  display: flex;
  width: 100%;
  background: #eee;
  height: 75px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-family: "Roboto";
  text-align: center;
}

.page.selected {
  background-color: royalblue;
}

.content {
  display: flex;
  background-color: lightblue;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content > * {
  flex-basis: 50%;
  background-color: white;
  margin: 25px;
}
.controls > * {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.feed {
  padding: 20px;
  overflow-y: auto;

  list-style-type: none;
}

.form-check {
  margin: 5px;
  color: black;
}

.amount > * {
  padding: 0 5px;
}
.rate > * {
  padding: 0 5px;
}

.run > * {
  margin-right: 25px;
}
