html,
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.bar {
  display: flex;
  width: 100%;
  background-color: royalblue;
  height: 75px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Roboto";

  text-align: center;
  font-size: 25px;

  -webkit-app-region: drag;
}
.content {
  display: flex;
  background-color: lightblue;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content > * {
  flex-basis: 50%;
  background-color: white;
  margin: 25px;
}
.controls > * {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.feed {
  padding: 20px;
  overflow-y: auto;

  list-style-type: none;
}

.form-check {
  margin: 5px;
  color: black;
}

.amount > * {
  padding: 0 5px;
}
.rate > * {
  padding: 0 5px;
}

.run > * {
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 1275px) {
  .content {
    flex-flow: column;
  }
  .content > * {
    margin: 5px;
  }
  .controls > * {
    margin-bottom: 25px;
  }
}

@media only screen and (max-height: 900px) {
  body {
  }
}
